@import 'base/base.scss';
@import 'out-of-game/base';
* {
  box-sizing:border-box;
}
div {
  display:block;
}

@keyframes testHover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}


svg {
	.scene-object-target {
		display:block;
		transform-box: fill-box;
		fill: rgb(255, 46, 234);
	}
	.orig-l-b {
		transform-origin: left bottom;
	}
	.orig-r-b {
		transform-origin: right bottom;
	}
	.scene-object-frame {
		fill:rgba(0,0,0,0);
		cursor:pointer;
		stroke:yellow;
		stroke-width:1px;
	}

}

// scene
.rx8p_scene {
	background-size:contain;
	width:100%;
	height:100%;
}
