* {
  box-sizing:border-box;
}
div {
  display:block;
}

@keyframes testHover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}



svg .hover-target.active {
  /*transform:translate;*/
}



.scene-object-frame {fill:rgba(0,0,0,0);}