@import 'base/base.scss';
* {
  box-sizing:border-box;
}
div {
  display:block;
}

@keyframes testHover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

// svg .scene-object-target {
// 	display:block;
// 	transform-box: fill-box;
// }
svg {
	.scene-object-target {
		display:block;
		transform-box: fill-box;
	}
	.orig-left-bot {
		transform-origin: left bottom;
	}
	.orig-right-bot {
		transform-origin: right bottom;
	}
	.scene-object-frame {
		fill:rgba(0,0,0,0);
		cursor:pointer;
		stroke:yellow;
		stroke-width:1px;
	}

}


// svg .hover-target.active {
//   /*transform:translate;*/
// }



// .scene-object-frame {
// 	fill:rgba(0,0,0,0);
// 	cursor:pointer;
// 	stroke:yellow;
// 	stroke-width:1px;
// }